{% extends "base.html" %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
	<h1 class="mt-4">Reset Your Password</h1>
	{% if validlink %}
		<p>Enter Your New Password twice:</p>
		<form action="." method="post">
			{{form.as_p}}
			{% csrf_token %}
			<input type="submit" name="Change my Password">
		</form>
	{%else%}
		<p>This link has expired . Please request a new link.</p>
	{% endif %}
{% endblock %}

<script type="text/javascript">
{% block domready%}
  $('form').each(function() {
    console.log(this);
    $(this).children('p').each(function() {
    	$this = $(this);
    	$this.addClass('form-group');
    	$this.children('input').addClass('form-control');
    });
    

  })
{%endblock%}
</script>