{% extends "base.html" %}

{% block title %}Change Your Password{% endblock %}

{% block content %}
	<h1 class="mt-4">Change Password</h1>
  {% if form.error %}
    <p>Something went wrong.Please Try again</p>
  {% else %}
    <p>Use the password below to change your password</p>
  {% endif %}
	<form action="." method="post">
    {{form.as_p}}
		{% csrf_token %}
		<button type="submit" class="btn btn-primary">Change</button>
	</form>
{% endblock %}

<script type="text/javascript">
{% block domready%}
  $('.errorlist').each(function() {
    console.log(this)
    $(this).addClass('alert alert-danger')
  })
{%endblock%}
</script>
<!--div class="form-group">
      <label for="old_password">Old Password</label>
        {{form.old_password}}
      </div>
      <div class="form-group">
        <label for="new_password1">New password</label>
        {{form.new_password1}}
      </div>
      <div class="form-group">
        <label for="new_password2">Re enter New password</label>
        {{form.new_password2}}
      </div-->