{% extends "base.html" %}

{% block title %}{{post.title}}{%endblock%}

{% block content %}
  <!-- Title -->
  <h1 class="mt-4">Share post :{{post.title}}</h1>
  <p>You can email this post by filling th following form</p>
  <hr>
  {% if sent %}
    <div class="alert alert-success" role="alert">
      the psot was sent throug mail
    </div>
    <a href="{{post.get_absolute_url}}" class="btn btn-primary">Back to post &rarr;</a>
  {%else%}
  <form action="." method="post">
    {{form.as_p}}
    {%csrf_token%}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> 
  {% endif %}
       
{%endblock%}

{% block footer%}{% include "footer.html" %}{% endblock %}
