{% extends 'blog/base.html' %}

{% block title %}Share a post{% endblock %}

{% block content %}
	{% if sent %}
		<h1>Post successfuly send</h1>
		<p>{{post.title}} was send to {{form.cleaned_data.to}}</p>
		<p><a href="{{post.get_absolute_url}}">Back to post</a></p>
		<p><a href="{% url 'blog:post_list' %}">Home</a></p>
	{% else %}
		<h1>Send {{post.title}} by email</h1>
		<form action="." method="post">
			{{form.as_p}}
			{% csrf_token %}
			<input type="submit" value="send email">
		</form>
	{% endif %}
{% endblock %}